.breadcrumbs
    display: flex
    margin: 0
    padding: 0
    padding-top: 20px
    margin-bottom: 20px
    list-style: none
    & li
        font-family: 'pt_sansitalic'
        font-size: 16px
        color: $main-color
        &:not(:last-child)
            padding-right: 5px
            &:after
                content: '»'
                margin-left: 5px

.common-header
    font-family: 'bebas_neuebold'
    font-size: 60px
    color: $main-color
    margin-top: 0
    margin-bottom: 25px

@media (max-width: 790px)
    .common-header
        font-size: 40px

.common-block
    border-top: 1px solid #ced3e2
    display: flex
    justify-content: space-between

@media (max-width: 790px)
    .common-block
        flex-direction: column

.main-block
    width: 66%
    padding-top: 40px
    padding-bottom: 40px

@media (max-width: 790px)
    .main-block
        width: 100%

.actions-list
    list-style: none
    margin: 0
    padding: 0
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    & > li
        width: 49%
        margin-bottom: 10px
        border: 1px solid #e8e8e8
        background-color: #f4f4f4

@media (max-width: 490px)
    .actions-list > li
        width: 100%

.actions-img-block
    position: relative
    height: 220px
    overflow: hidden
    & img
        width: 100%
        height: auto

.action-days
    position: absolute
    top: 0
    left: 40px
    padding: 5px 10px
    font-family: 'bebas_neueregular'
    font-size: 13px
    color: #383838
    border: 1px solid #e8e8e8
    background-color: #fff

.actions-info
    padding: 30px 45px

@media (max-width: 490px)
    .actions-info
        padding: 10px 15px

.actions-name
    margin-top: 0
    margin-bottom: 20px
    font-family: 'bebas_neuebold'
    color: #000011
    font-size: 30px
    line-height: 1.2
    text-transform: uppercase

@media (max-width: 490px)
    .actions-name
        font-size: 22px
        line-height: 1

.action-coast
    display: inline-block
    font-family: 'bebas_neuebold'
    font-size: 22px
    text-transform: uppercase
    & a
        color: #fff
        padding: 5px 10px
        text-decoration: none
        background-color: #6782cd
        transition: background-color 0.3s
        &:hover, &:focus
            background-color: #4b5e94

@media (max-width: 790px)
    .action-coast
        font-size: 18px

@media (max-width: 490px)
    .action-coast
        font-size: 15px

.pagination-block
    border-top: 1px solid #ced3e2
    border-bottom: 1px solid #ced3e2
    padding-top: 15px
    padding-bottom: 15px

.page-numbers
    list-style: none
    margin: 0
    padding: 0
    display: flex
    justify-content: center
    align-items: center

.page-numbers a
    display: block
    font-family: 'bebas_neuebold'
    color: $main-color
    font-size: 20px
    height: 45px
    line-height: 45px
    width: 45px
    border-radius: 50%
    margin-left: 5px
    margin-right: 5px
    text-decoration: none
    text-align: center
    transition: color 0.3s
    &:hover, &:focus
        color: #3c8cab
 
@media (max-width: 490px)
    .page-numbers a
        font-size: 18px
        height: 25px
        line-height: 25px
        width: 25px

.page-numbers li.current a
    color: #fff
    background-color: $main-color

.page-numbers .prev a
    background-image: url(../img/pag-prev.png)
    display: block
    width: 8px
    height: 11px

.page-numbers .next a
    background-image: url(../img/pag-next.png)
    display: block
    width: 8px
    height: 11px

.aside-block
    width: 33%

@media (max-width: 790px)
    .aside-block
        width: 100%

.clinic-switcher
    padding: 40px 50px
    background-color: #f4f4f4
    margin-bottom: 50px
    & h3
        font-family: 'pt_sansregular'
        color: #737373
        font-size: 16px
        text-transform: uppercase
        margin-top: 0

@media (max-width: 790px)
    .clinic-switcher
        padding: 30px 40px

.clinic-switcher input[type="radio"]
    display: none

.clinic-switcher input[type="radio"] + label
    display: block
    position: relative
    padding-left: 35px
    font-family: 'bebas_neueregular'
    color: #111
    font-size: 24px
    line-height: 26px
    letter-spacing: 2px

.clinic-switcher input[type="radio"] + label:before
    content: ''
    display: block
    position: absolute
    left: 0
    top: 3px
    width: 20px
    height: 20px
    border-radius: 50%
    background-color: #fff
    border: 6px solid #fff
    box-shadow: 0 0 0 1px #3668a1
    margin-right: 17px

.clinic-switcher input[type="radio"]:checked + label:before
    background-color: #3668a1

.aside-container
    padding-left: 50px
    padding-right: 50px

@media (max-width: 940px)
    .aside-container
        padding-left: 10px
        padding-right: 10px    

.aside-header
    font-family: 'bebas_neuebold'
    color: #000011
    font-size: 31px
    margin-top: 0
    margin-bottom: 30px

.news-block
    padding: 25px 40px
    background-color: #f4f4f4
    margin-bottom: 10px
    & h4
        font-family: 'bebas_neuebold'
        color: #111
        font-size: 22px
        line-height: 26px
        margin-top: 0
        margin-bottom: 10px

.news-block .date
    display: inline-block
    font-family: 'bebas_neuebold'
    letter-spacing: 2px
    & a
        color: #fff
        text-decoration: none
        padding: 5px 10px
        background-color: #6782cd
        transition: background-color 0.3s
        &:hover, &:focus
            background-color: #4b5e94

.all-news
    display: inline-block
    margin-top: 10px
    font-family: 'pt_sansregular'
    color: $main-color
    font-size: 14px
    text-transform: uppercase
    margin-bottom: 70px
    transition: color 0.3s
    &:hover, &:focus
        color: $main-color-hover
        text-decoration: none

@media (max-width: 490px)
    .all-news
        margin-bottom: 30px  

.button-sub-text
    margin-top: 20px
    font-family: 'pt_sansitalic'
    color: #79797a
    font-size: 14px
    line-height: 1.3