.button-sub-text
    margin-bottom: 60px

.service-caries-photos
    display: flex
    justify-content: space-between
    & img
        flex: 1

.other-article p a
    color: $main-color

.service-category-details-main table
    table-layout: auto

.service-category-details-main .services-price
    margin-bottom: 60px

